<ion-view view-title="Dashboard" name="dashboard-view">
 <ion-content class="padding">
    <div class="row">
	    <div class="col text-center">
		    <h3 class="title">Welcome {{username}} !</h3>				    
	    </div>
    </div>
     <div class="row">
      <div class="col text-left">
        <label >Search</label>
        <input type="text" ng-model="search" placeholder="Search">
        </div>
     </div>

    <div class="row">
    	<div class="col" ng-click="sort('firstname')" >First Name</div>
    	<div class="col" ng-click="sort('lastname')">Last Name</div>
    	<div class="col">Email</div>
    </div>
    <div class="row" ng-repeat="item in items|orderBy:sortKey:reverse|filter:search" >
    	<div class="col">{{item.firstname}}</div>
    	<div class="col">{{item.lastname}}</div>
    	<div class="col">{{item.email}}</div>
    </div>
 </ion-content>
</ion-view>